@model Finance_HD.Models.TblPhongBan

@{
    bool isEdit = Model.Ma != Finance_HD.Helpers.CommonGuids.defaultUID;
    ViewData["Title"] = isEdit ? "Chỉnh sửa" : "Thêm mới";
    string formAction = isEdit ? "Edit" : "Add";
    string defaultUID = Finance_HD.Helpers.CommonGuids.defaultUID.ToString();


}
<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <form id="Form">
                <input type="hidden" id="Ma" name="Ma" value="@Model.Ma" />
                <input type="hidden" id="DefaultUID" name="DefaultUID" value="@defaultUID" />

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Code">Code<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="Code" name="Code" required value="@Model.Code" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Branch">Tên chi nhánh<span style="color: red;">*</span></label>
                            <select class="form-control" id="Branch" name="Branch">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Division">Tên ban<span style="color: red;">*</span></label>
                            <select class="form-control" id="Division" name="Division">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Ten">Tên phòng ban<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="Ten" name="Ten" required value="@Model.Ten" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Ban">Ban<span style="color: red;">*</span></label>
                            <div>
                                <input type="checkbox" id="Ban" name="Ban" value="true" @(Model.Ban == true ? "checked" : "") />
                                <label for="Ban">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CoSoQuy">Có sổ quỹ<span style="color: red;">*</span></label>
                            <div>
                                <input type="checkbox" id="CoSoQuy" name="CoSoQuy" value="true" @(Model.CoSoQuy == true ? "checked" : "") />
                                <label for="CoSoQuy">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Status">Trạng thái<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="Status" name="Status">
                                <!option value="true" @(Model.Status == true ? "selected" : "")>Hoạt động</!option>
                                <!option value="false" @(!Model.Status == true ? "selected" : "")>Không hoạt động</!option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="action" style="text-align: center;">
                    <a href="/Department" class="btn btn-danger btn-sm" style="margin-right: 10px;">Huỷ</a>
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm">@ViewData["Title"]</button>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/danhmuc/phongban/form.js"></script>
    <script>
        var defaultUID = '@defaultUID';
        var maCN = '@Model.MaChiNhanh';
        var MaBan = '@Model.MaBan'
    </script>
}
