<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        @Html.Partial("_LeftMenu")
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
               <div style="padding:10px;0"></div>
                <div class="container-fluid">
                    @RenderBody()
                </div>
                @RenderSection("Scripts", required: false)
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/vendor/jquery/jquery.min.js"></script>    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <footer style="background-color:#1e63e9" class="main-footer d-flex align-items-center text-white py-3 justify-content-between">
        <h4 class="fs-16 fw-700 mx-auto login-footer" title="@ViewData["ChiNhanhDangNhap"]">@ViewData["ChiNhanhDangNhap"]</h4>
        @if (ViewData["IsLoggedIn"] != null && (bool)ViewData["IsLoggedIn"])
        {
            <a  href="/Account/Logout" class="logout-icon" title="Đăng xuất">
                <i class="fa-solid fa-right-from-bracket fa-lg"></i> Đăng xuất
            </a>
        }
      

    </footer>
    <style>
        .main-footer {
            height: 80px; /* Tăng chiều cao của footer */
            border-top: 1px solid #ffffff; /* Thêm đường viền trên cùng */
        }

        .login-footer {
            display: flex; /* Đảm bảo các phần tử con căn giữa */
            align-items: center; /* Căn giữa theo chiều dọc */
            color: #ffffff; /* Đảm bảo chữ trắng */
        }

        .logout-icon {
            position: absolute;
            right: 5%;
            background-color: rgb(0, 0, 128);
            display: inline-flex;
            align-items: center;
            color: #fff; /* Màu chữ */
            text-decoration: none; /* Bỏ gạch chân */
            padding: 10px 15px; /* Khoảng cách bên trong */
            border-radius: 5px; /* Bo góc */
            transition: background-color 0.3s ease; /* Hiệu ứng chuyển tiếp */
        }

            .logout-icon:hover {
                background-color: #007bff; /* Màu nền khi di chuột */
                color: #fff; /* Màu chữ khi di chuột */
            }

            .logout-icon i {
                margin-right: 5px; /* Khoảng cách giữa biểu tượng và chữ */
            }


    </style>
   
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script defer src="/extendFE/logout/logout.js"></script>
</body>
</html>
