@using System.Text.Json
@model Finance_HD.Models.FiaBangKeNopTien

@{
    var dataChiTietBangKe = ViewBag.DataChiTietBangKe as List<Finance_HD.Models.FiaChiTietBangKeNopTien>;
    var maChiTietBangKe = dataChiTietBangKe?.Select(d => d.Ma).ToList();
    var dataNhanVien = ViewBag.DataNhanVien as List<Finance_HD.Models.FiaChiTietBangKeNhanVien>;
    var maTableNhanVien = dataNhanVien?.Select(d => d.Ma).ToList();
    bool isEdit = Model.Ma != Finance_HD.Helpers.CommonGuids.defaultUID;
    ViewData["Title"] = isEdit ? "Chỉnh sửa" : "Thêm mới";
    string formAction = isEdit ? "Edit" : "Add";
    string defaultUID = Finance_HD.Helpers.CommonGuids.defaultUID.ToString();
    var listTienTe = ViewData["listTienTe"] as List<Finance_HD.Models.FiaTienTe>;
    var listLoaiTien = ViewData["listLoaiTien"] as List<Finance_HD.Models.FaLoaiTien>;
    var listNoiDung = ViewData["listNoiDung"] as List<Finance_HD.Models.CatNoiDungThuChi>;
    var taikhoandangnhap = ViewData["TaiKhoanDangNhap"] as Finance_HD.Models.SysUser;
    var maNguoiDangNhap = taikhoandangnhap.Ma;
    var branchID = taikhoandangnhap.BranchId; // Lấy branchID
    var deparmentId = taikhoandangnhap.MaPhongBan; // Lấy mã phòng ban
    var listNguoiNopTien = ViewData["listNguoiNopTien"] as List<Finance_HD.Models.SysUser>;
    var listNhanVien = ViewData["listNhanVien"] as List<Finance_HD.Models.SysUser>;
}
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">@ViewData["Title"]</h5>
            </div>
            <div class="card-body">
                <form id="Form">
                    <input type="hidden" id="Ma" name="Ma" value="@Model.Ma" />
                    <div class="form-row ">
                        <div class="form-group col-md-2">
                            <label for="NgayNopTien">Ngày Nộp Tiền<span style="color: red;">*</span></label>
                            <input type="date" id="NgayNopTien" class="form-control form-control-sm"
                                   value="@((Model.NgayNopTien.HasValue) ? string.Format("{0:yyyy-MM-dd}", Model.NgayNopTien.Value) : DateTime.Today.ToString("yyyy-MM-dd"))" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="NgayLap">Ngày Lập<span style="color: red;">*</span></label>
                            <input type="date" id="NgayLap" class="form-control form-control-sm"
                                   value="@((Model.NgayLap.HasValue) ? string.Format("{0:yyyy-MM-dd}", Model.NgayLap.Value) : DateTime.Today.ToString("yyyy-MM-dd"))" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="HinhThuc">Hình thức chi<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="MaHinhThuc" name="HinhThuc">
                                <!option value="@((int)Finance_HD.Common.HinhThucThuChi.TienMat)"
                                @(Model.MaHinhThuc == (int)Finance_HD.Common.HinhThucThuChi.TienMat ? "selected" : "")>Tiền mặt</!option>
                                <!option value="@((int)Finance_HD.Common.HinhThucThuChi.TaiKhoanCaNhan)"
                                @(Model.MaHinhThuc == (int)Finance_HD.Common.HinhThucThuChi.TaiKhoanCaNhan ? "selected" : "")>Tài khoản cá nhân</!option>
                                <!option value="@((int)Finance_HD.Common.HinhThucThuChi.NganHang)"
                                @(Model.MaHinhThuc == (int)Finance_HD.Common.HinhThucThuChi.NganHang ? "selected" : "")>Ngân hàng</!option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="TienTe">Tiền tệ<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="TienTe" name="TienTe" value="@Model.MaTienTe">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="TyGia">Tỷ Giá<span style="color: red;">*</span></label>
                            <input type="number" step="0.01" class="form-control form-control-sm" id="TyGia" name="TyGia" required
                                   value="@(Model.TyGia != null && Model.TyGia != 0 ? Model.TyGia : 1)" />
                        </div>

                        <div class="form-group col-md-2">
                            <label for="NguoiNopTien">Người nộp<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="NguoiNopTien" name="NguoiNopTien">
                            </select>

                        </div>
                        <div class="form-group col-md-2">
                            <label for="NguoiNopTien">Người nhận<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="NguoiNhanTien" name="NguoiNhanTien">
                            </select>

                        </div> <div class="form-group col-md-2">
                            <label for="DonViNop">Đơn vị nộp<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="DonViNop" name="DonViNop"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="BoPhanNop">Bộ phận nộp<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="BoPhanNop" name="BoPhanNop"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="DonViNhan">Đơn vị nhận<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="DonViNhan" name="DonViNhan"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="BoPhanNhan">Bộ phận nhận <span style="color: red;">*</span></label>

                            <select class="form-control form-control-sm" id="BoPhanNhan" name="BoPhanNhan"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="KhachHang">Khách hàng</label>
                            <input placeholder="Nhập tên khách hàng" type="text" class="form-control form-control-sm" id="KhachHang" name="TenNguoiNopTien" required value="@Model.TenNguoiNopTien" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="NoiDung">Tên nội dung <span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="MaNoiDung" name="NoiDung">
                                @foreach (var nd in listNoiDung)
                                {
                                    <!option value="@nd.Ma" @(Model.MaNoiDung == nd.Ma ? "selected" : "")>@nd.Ten</!option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="GhiChu">Ghi Chú</label>
                            <input type="text" placeholder="Nhập ghi chú" class="form-control form-control-sm w-100" id="GhiChu" name="GhiChu" value="@Model.GhiChu" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="DiaChi">Địa chỉ</label>
                            <input type="text" placeholder="Nhập địa chỉ" class="form-control form-control-sm w-100" id="DiaChi" name="DiaChi" value="@Model.DiaChi" />
                        </div>
                    </div>
                  
                 
                 
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card shadow">
            <div class="card-header bg-primary">
                <h6 class="m-0 text-white">Chi tiết bảng kê nộp tiền</h6>
            </div>
            <div class="card-body">
                <table id="TableBangKeNopTien" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th hidden>Mã Bảng Kê Chi Tiết</th>
                            <th hidden>Mã Loại tiền</th>
                            <th>Loại tiền</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                   
                </table>
                <p class="total-amount">Tổng số tiền: <span id="totalAmount">0</span></p>
                <p class="currency-unit">Đơn vị tiền tệ: <span id="currency">VND</span> </p></p>
            </div>
        </div>
    </div>
     <div class="col-md-6 mb-3">
        <div class="card shadow">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-md-6 d-flex" style="justify-content:space-evenly;text-align:center;align-items:center">
                        <h6 style="width:105px" class="m-0 text-white">Nhân viên</h6>
                        <select class="form-control form-control-sm" id="MaNhanVien" name="MaNhanVien">
                            @foreach (var tt in listNhanVien)
                            {
                                <!option value="@tt.Ma" @(branchID == tt.BranchId ? "selected" : "")>@tt.FullName</!option>
                            }
                        </select>
                    
                    </div>
                    <div class="col-md-6 d-flex text-white" style="justify-content: space-evenly; text-align: center; align-items: center;">
                        <h6 style="width: 100px;" class="m-0 text-white">Số tiền</h6>
                        <input type="text" placeholder="Nhập số tiền" data-type="currency" class="form-control form-control-sm" id="SoTienNhanVien"  name="SoTienNhanVien" oninput="formatCurrencyInput(this)" />

                        <button class="btn-custom" id="btnSaveChiTietNhanVien">
                            <i class="fa fa-check-circle fa-lg"></i>
                        </button>
                    </div>
                </div>


            </div>

            <div class="card-body">

                <table id="TableChiTietBangKeNhanVien" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Số tiền</th>
                            <th hidden>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
 
    </div>
    <div class="col-md-12 mb-3">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">Chức năng</div>
            <div class="card-body text-center">
                <button type="button" id="btnSave" class="btn btn-primary btn-sm">@ViewData["Title"]</button>
                <button type="button" id="btnCancel" class="btn btn-danger btn-sm">Huỷ</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/soquy/bangkenoptien/form.js"></script>
    <script defer src="/extendFE/common/main.js"></script>
    <style>
        .table thead th {
            font-size: 14px;
            font-weight: bold;
            background-color: #007bff;
            color: white;
            text-transform: uppercase;
        }

        .table tbody td {
            color: #333;
        }

        .btn-custom {
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 8px 12px;
            font-size: 11px;
            transition: background-color 0.3s, transform 0.2s;
            cursor: pointer;
        }

        .d-flex > h6 {
            margin-right: 5px;
        }

        .d-flex > input {
            margin-right: 5px;
        }

        .btn-custom:hover {
            background-color: #218838;
            transform: scale(1.05);
        }

        .btn-custom:active {
            transform: scale(0.95);
        }

        #TableChiTietBangKe tfoot {
            background-color: #007bff;
            font-weight: bold;
            color: white;
        }

            #TableChiTietBangKe tfoot th {
                border-top: 2px solid #dee2e6;
                padding: 10px;
            }

        .total-amount {
            font-weight: bold; /* Chữ đậm */
            font-size: 18px; /* Kích thước chữ lớn hơn */
            margin-top: 10px; /* Khoảng cách trên */
        }

        #currency{
            font-weight: bold; /* Chữ đậm */
            font-size: 18px;
        }

        .currency-unit {
            font-style: italic; /* Chữ nghiêng */
            color: #666; /* Màu chữ nhạt */
        }
    </style>
    <script>
        var defaultUID = '@defaultUID';
        var MaChiNhanhDangNhap = '@branchID';
        var MaPhongBanDangNhap = '@deparmentId';
        var MaDonViNop = '@Model.MaChiNhanhNop';
        var MaDonViNhan = '@Model.MaChiNhanhNhan';
        var MaBoPhanNop = '@Model.MaPhongBanNop';
        var MaBoPhanNhan = '@Model.MaPhongBanNhan';
        var MaNguoiNopTien = '@Model.NguoiNopTien';
        var isEdit = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(isEdit, typeof(bool)));
        var MaTienTeVND = '@Model.MaTienTe';
        var MaNguoiDangNhap = '@maNguoiDangNhap';
        var MaNguoiNhanTien = '@Model.NguoiNhanTien';
        var maBangKe = '@Model.Ma';
    </script>


}
