@model Finance_HD.Models.FiaDeNghiChi

@{
    bool isEdit = Model.Ma != Finance_HD.Helpers.CommonGuids.defaultUID;
    ViewData["Title"] = isEdit ? "Chỉnh sửa" : "Thêm mới";
    string formAction = isEdit ? "Edit" : "Add";
    string defaultUID = Finance_HD.Helpers.CommonGuids.defaultUID.ToString();
    var listTienTe = ViewData["listTienTe"] as List<Finance_HD.Models.FiaTienTe>;
    var listNoiDung = ViewData["listNoiDung"] as List<Finance_HD.Models.CatNoiDungThuChi>;
}

<div class="col-12 col-md-8">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <form id="Form">
                <input type="hidden" id="Ma" name="Ma" value="@Model.Ma" />

                <div class="form-row mb-3">
                    <!-- Dòng 1: Ngày Lập và Ngày Nhận Tiền -->
                    <div class="form-group col-md-2">
                        <label for="NgayLap">Ngày Lập<span style="color: red;">*</span></label>
                        <input type="date" id="dtpNgayLap" class="form-control form-control-sm"
                               value="@((Model.NgayLap.HasValue) ? string.Format("{0:yyyy-MM-dd}", Model.NgayLap.Value) : DateTime.Today.ToString("yyyy-MM-dd"))" />
                    </div>

                    <div class="form-group col-md-2">
                        <label for="NgayYeuCauNhanTien">Ngày Nhận Tiền<span style="color: red;">*</span></label>
                        <input type="date" id="dtpNgayNhanTien" class="form-control form-control-sm"
                               value="@((Model.NgayYeuCauNhanTien.HasValue) ? string.Format("{0:yyyy-MM-dd}", Model.NgayYeuCauNhanTien.Value) : DateTime.Today.ToString("yyyy-MM-dd"))" />
                    </div>

                    <!-- Dòng 2: Chi Nhánh và Phòng Ban -->
                    <div class="form-group col-md-2">
                        <label for="ChiNhanhDeNghi">Chi Nhánh Đề Nghị<span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="ChiNhanhDeNghi" name="ChiNhanhDeNghi"></select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="PhongBanDeNghi">Phòng Ban Đề Nghị</label>
                        <select class="form-control form-control-sm" id="PhongBanDeNghi" name="PhongBanDeNghi"></select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="ChiNhanhChi">Chi Nhánh Chi<span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="ChiNhanhChi" name="ChiNhanhChi"></select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="PhongBanChi">Phòng Ban Chi<span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="PhongBanChi" name="PhongBanChi"></select>
                    </div>

                    <!-- Dòng 3: Nội Dung, Tiền Tệ, Tỷ Giá -->
                    <div class="form-group col-md-2">
                        <label for="NoiDung">Tên nội dung<span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="NoiDung" name="NoiDung">
                            @foreach (var nd in listNoiDung)
                            {
                                <!option value="@nd.Ma" @(Model.MaNoiDung == nd.Ma ? "selected" : "")>@nd.Ten</!option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="TienTe">Tiền tệ<span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="TienTe" name="TienTe">
                            @foreach (var tt in listTienTe)
                            {
                                <!option value="@tt.Ma" @(Model.MaTienTe == tt.Ma ? "selected" : "")>@tt.Ten</!option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="TyGia">Tỷ Giá<span style="color: red;">*</span></label>
                        <input type="number" step="0.01" class="form-control form-control-sm" id="TyGia" name="TyGia" required
                               value="@(Model.TyGia != null && Model.TyGia != 0 ? Model.TyGia : 1)" />
                    </div>

                    <!-- Dòng 4: Số Tiền, Hình Thức -->
                    <div class="form-group col-md-2">
                        <label for="SoTien">Số Tiền<span style="color: red;">*</span></label>
                        <input type="text" placeholder="Nhập số tiền" data-type="currency" class="form-control form-control-sm" value="@(Model.SoTien != null && Model.SoTien != 0 ? Model.SoTien : 0)" id="SoTien" name="SoTien" oninput="formatCurrencyInput(this)" />
                      
                    </div>

                    <div class="form-group col-md-2">
                        <label for="HinhThuc">Hình thức chi<span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="HinhThuc" name="HinhThuc">
                            <!option value="@((int)Finance_HD.Common.HinhThucThuChi.TienMat)" @(Model.HinhThucChi == (int)Finance_HD.Common.HinhThucThuChi.TienMat ? "selected" : "")>Tiền mặt</!option>
                            <!option value="@((int)Finance_HD.Common.HinhThucThuChi.TaiKhoanCaNhan)" @(Model.HinhThucChi == (int)Finance_HD.Common.HinhThucThuChi.TaiKhoanCaNhan ? "selected" : "")>Tài khoản cá nhân</!option>
                            <!option value="@((int)Finance_HD.Common.HinhThucThuChi.NganHang)" @(Model.HinhThucChi == (int)Finance_HD.Common.HinhThucThuChi.NganHang ? "selected" : "")>Ngân hàng</!option>
                        </select>
                    </div>

                    <!-- Dòng 5: Ghi Chú -->
                    <div class="form-group col-md-6">
                        <label for="GhiChu">Ghi Chú</label>
                        <textarea rows="5" class="form-control form-control-sm" id="GhiChu" name="GhiChu" placeholder="Nhập ghi chú">@Model.GhiChu</textarea>
                    </div>
                </div>

                <div class="action" style="text-align: center;">
                    <a href="/ExpenseRequest" class="btn btn-danger btn-sm" style="margin-right: 10px;">Huỷ</a>
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm">@ViewData["Title"]</button>
                </div>
            </form>
        </div>

    </div>

</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/soquy/denghichi/form.js"></script>
    <script defer src="/extendFE/common/main.js"></script>
    <script>
        var defaultUID = '@defaultUID';
        // Pass the isEdit variable to JavaScript
        var isEdit = @Html.Raw(Json.Serialize(isEdit));
        var maChiNhanhDeNghi = '@Model.MaChiNhanhDeNghi';
        var MaPhongBanDeNghi = '@Model.MaPhongBanDeNghi';
        var maChiNhanhChi = '@Model.MaChiNhanhChi';
        var maPhongBanChi = '@Model.MaPhongBanChi'
    </script>
}
