@model Finance_HD.Models.SysBranch

@{
    bool isEdit = Model.Ma != Finance_HD.Helpers.CommonGuids.defaultUID;
    ViewData["Title"] = isEdit ? "Chỉnh sửa" : "Thêm mới";
    string formAction = isEdit ? "Edit" : "Add";
    string defaultUID = Finance_HD.Helpers.CommonGuids.defaultUID.ToString();
}
<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <form id="Form">
                <input type="hidden" id="Ma" name="Ma" value="@Model.Ma" />
                <input type="hidden" id="DefaultUID" name="DefaultUID" value="@defaultUID" /> <!-- Thêm trường ẩn để truyền defaultUID -->

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Name">Tên chi nhánh<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="Name" name="Name" required value="@Model.Ten" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Code">Code<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="Code" name="Code" required value="@Model.Code" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MaSoThue">Mã số thuế<span style="color: red;">*</span></label>
                            <input type="number" class="form-control form-control-sm" id="MaSoThue" name="MaSoThue" required value="@Model.MaSoThue" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PhapNhan">Pháp nhân<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="PhapNhan" name="PhapNhan" required value="@Model.PhapNhan" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DiaChi">Địa chỉ<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="DiaChi" name="DiaChi" required value="@Model.DiaChi" />
                        </div>
                    </div>
                    @*   <div class="col-md-3">
                    <div class="form-group">
                    <label for="Logo">Logo</label>
                    <input type="file" class="form-control form-control-sm" id="Logo" name="Logo" />
                    </div>
                    </div> *@
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CoSoQuy">Có sổ quỹ<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="CoSoQuy" name="CoSoQuy">
                                <!option value="true" @(Model.CoSoQuy == true ? "selected" : "")>Có</!option>
                                <!option value="false" @(!Model.CoSoQuy == true ? "selected" : "")>Không</!option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Status">Trạng thái<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="Status" name="Status">
                                <!option value="true" @(Model.Status == true ? "selected" : "")>Hoạt động</!option>
                                <!option value="false" @(!Model.Status == true ? "selected" : "")>Không hoạt động</!option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="action" style="text-align: center;">
                    <a href="/Branch" class="btn btn-danger btn-sm" style="margin-right: 10px;">Huỷ</a>
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm">@ViewData["Title"]</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/quanlyhethong/chinhanh/form.js"></script>
    <script>
        // Pass the isEdit variable to JavaScript
        var isEdit = @Html.Raw(Json.Serialize(isEdit));
        var defaultUID = '@defaultUID'; // Truyền defaultUID vào JavaScript
        console.log("Is Edit:", isEdit);
        console.log("Default UID:", defaultUID);
    </script>
}
