@model Finance_HD.Models.CatNoiDungThuChi

@{
    bool isEdit = Model.Ma != Finance_HD.Helpers.CommonGuids.defaultUID;
    ViewData["Title"] = isEdit ? "Chỉnh sửa" : "Thêm mới";
    string formAction = isEdit ? "Edit" : "Add";
    var lisLoaiThuChi = ViewData["listLoaiThuChi"] as List<Finance_HD.Models.CatLoaiThuChi>;
    string defaultUID = Finance_HD.Helpers.CommonGuids.defaultUID.ToString();
}

<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <form id="Form">
                <input type="hidden" id="Ma" name="Ma" value="@Model.Ma" />

                <div class="row">
                    <!-- Code Field -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Code">Mã Code<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="Code" name="Code" required value="@Model.Code" />
                        </div>
                    </div>

                    <!-- Ten Field -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Ten">Tên<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="Ten" name="Ten" required value="@Model.Ten" />
                        </div>
                    </div>

                    <!-- Loai Thu Chi Field -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="LoaiThuChi">Loại thu chi<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="LoaiThuChi" name="LoaiThuChi">
                                @foreach (var item in lisLoaiThuChi)
                                {
                                    <!option value="@item.Ma" @(Model.MaLoaiThuChi == item.Ma ? "selected" : "")>@item.Ten</!option>
                                }
                            </select>
                        </div>
                    </div>


                    <!-- Status Dropdown -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Status">Trạng thái<span style="color: red;">*</span></label>
                            <select class="form-control form-control-sm" id="Status" name="Status">
                                <!option value="true" @(Model.Status == true ? "selected" : "")>Hoạt động</!option>
                                <!option value="false" @(!Model.Status == true ? "selected" : "")>Không hoạt động</!option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-check form-check-sm">
                                <input type="checkbox"
                                       class="form-check-input"
                                       id="NoiBo"
                                       name="NoiBo"
                                       value="1"
                                @(Model.NoiBo == true ? "checked" : "") />
                                <label class="form-check-label" for="NoiBo">Nội Bộ<span style="color: red;">*</span></label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="action" style="text-align: center;">
                    <a href="/IncomeContent" class="btn btn-danger btn-sm" style="margin-right: 10px;">Huỷ</a>
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm">@ViewData["Title"]</button>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/danhmuc/cacnoidungthuchi/form.js"></script>
    <script>

        var isEdit = @Html.Raw(Json.Serialize(isEdit));
        var defaultUID = '@defaultUID';

    </script>
}
