@model Finance_HD.Models.FiaPhieuThuChi

@{
    bool isEdit = Model.Ma != Finance_HD.Helpers.CommonGuids.defaultUID;
    ViewData["Title"] = isEdit ? "Chỉnh sửa" : "Thêm mới";
    string formAction = isEdit ? "Edit" : "Add";
    string defaultUID = Finance_HD.Helpers.CommonGuids.defaultUID.ToString();
}
<div class="col-md-12 mb-3">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Form Section -->
                <div class="col-12 col-md-6">
                    <form id="Form">
                        <input type="hidden" id="Ma" name="Ma" value="@Model.Ma" />

                        <div class="row">
                            <div class="form-group col-12 col-md-6">
                                <label for="">Đơn vị thu <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="DonViThu" name="DonViThu">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="BoPhanThu">Bộ phận thu <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="BoPhanThu" name="BoPhanThu">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="DonViChi">Đơn vị chi <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="DonViChi" name="DonViChi">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="BoPhanChi">Bộ phận chi <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="BoPhanChi" name="BoPhanChi">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="NgayLap">Ngày lập <span style="color: red;">*</span></label>
                                <input class="form-control form-control-sm"
                                       type="datetime-local"
                                       id="NgayLap"
                                       name="NgayLap"
                                       value="@(Model.NgayLapPhieu?.ToString("yyyy-MM-ddTHH:mm") ?? DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" />

                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="NguoiThuTien">Người thu tiền <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="NguoiThuTien" name="NguoiThuTien">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="NhanVienNop">Nhân viên nộp <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="NhanVienNop" name="NhanVienNop">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="KhachHangNop">Khách hàng nộp <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="KhachHangNop" name="KhachHangNop">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="BangKe">Bảng kê <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="BangKe" name="BangKe">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="TienTe">Tiền <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="TienTe" name="TienTe">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="TyGia">Tỷ giá <span style="color: red;">*</span></label>
                                <input type="number" step="0.01" class="form-control form-control-sm" id="TyGia" name="TyGia" required value="@(Model.TyGia != null && Model.TyGia != 0 ? Model.TyGia : 1)" />
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="SoPhieuChi">Số phiếu chi <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="SoPhieuChi" name="SoPhieuChi">
                                    <option value="@Model.SoPhieu">Chọn...</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="SoTien">Số tiền <span style="color: red;">*</span></label>
                                <input type="text" placeholder="Nhập số tiền" data-type="currency" class="form-control form-control-sm" value="@(Model.SoTien != null && Model.SoTien != 0 ? Model.SoTien : 0)" id="SoTien" name="SoTien" oninput="formatCurrencyInput(this)" />
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="HinhThuc">Hình thức <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="HinhThuc" name="HinhThuc">
                                    <!option value="@((int)Finance_HD.Common.HinhThucThuChi.TienMat)" @(Model.MaHinhThuc == (int)Finance_HD.Common.HinhThucThuChi.TienMat ? "selected" : "")>Tiền mặt</!option>
                                    <!option value="@((int)Finance_HD.Common.HinhThucThuChi.TaiKhoanCaNhan)" @(Model.MaHinhThuc == (int)Finance_HD.Common.HinhThucThuChi.TaiKhoanCaNhan ? "selected" : "")>Tài khoản cá nhân</!option>
                                    <!option value="@((int)Finance_HD.Common.HinhThucThuChi.NganHang)" @(Model.MaHinhThuc == (int)Finance_HD.Common.HinhThucThuChi.NganHang ? "selected" : "")>Ngân hàng</!option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="SoHoSoKemTheo">Số chứng từ kế toán <span style="color: red;">*</span></label>
                                <input class="form-control form-control-sm" type="text" id="SoHoSoKemTheo" name="SoHoSoKemTheo" placeholder="Nhập chứng từ kế toán" value="@Model.SoHoSoKemTheo" />
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="MaDongTien">Mã dòng tiền <span style="color: red;">*</span></label>
                                <select class="form-control form-control-sm" id="MaDongTien" name="MaDongTien">
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="GhiChu">Ghi Chú <span style="color: red;">*</span></label>
                                <input class="form-control form-control-sm" type="text" id="GhiChu" name="GhiChu" placeholder="Nhập ghi chú" value="@Model.GhiChu" />
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Table Section -->
                <div class="col-12 col-md-6">
                    <div class="card shadow">
                        <div class="card-header bg-primary">
                            <h6 class="m-0 text-white">Chi tiết bảng kê nộp tiền</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="TableChiTietBangKe" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th hidden>Mã Bảng Kê Chi Tiết</th>
                                            <th hidden>Mã Loại tiền</th>
                                            <th>Loại tiền</th>
                                            <th>Số lượng</th>
                                            <th>Thành tiền</th>
                                            <th>Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <p class="total-amount">Tổng số tiền: <span id="totalAmount">0</span></p>
                            <p class="currency-unit">Đơn vị tiền tệ: <span id="currency">VND</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="button-container" style="display: flex; justify-content: center; margin-top: 20px;">
                        <button type="button" id="btnSave" class="btn btn-primary btn-custom">
                            <i class="fas fa-check"></i> @ViewData["Title"]
                        </button>
                        <button type="button" class="btn btn-danger btn-custom" onclick="window.location.href='/Receipt'" style="margin-left: 10px;">
                            <i class="fas fa-times"></i> Huỷ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/soquy/phieuthu/form.js"></script>
    <script defer src="/extendFE//common/main.js"></script>
</<link href="/css/global.css" rel="stylesheet" />
    <script>
        var defaultUID = '@defaultUID';
        var isEdit = @Html.Raw(Json.Serialize(isEdit));
        var MaChiNhanhThu = '@Model.MaChiNhanhThu';
        var MaPhongBanThu = '@Model.MaPhongBanThu';
        var MaChiNhanhChi = '@Model.MaChiNhanhChi';
        var MaPhongBanChi = '@Model.MaPhongBanChi';
        var MaNoiDungThuChi = '@Model.MaNoiDungThuChi'
        var MaNguoiThuTien = '@Model.NguoiNhanTien';
        var MaTienTe = '@Model.MaTienTe';
        var MaBangKe = '@Model.MaBangKeNopTien';
        var MaNhanVienNopTien = "@Model.NguoiGiaoDich";
        var KhachHangNopTien ='@Model.TenNguoiGiaoDich'
        console.log("MaNhanVienNopTien", MaNhanVienNopTien)
    </script>
    <style>
        .table thead th {
            font-size: 14px;
            font-weight: bold;
            background-color: #007bff;
            color: white;
            text-transform: uppercase;
        }

        .table tbody td {
            color: #333;
        }

       

        .d-flex > h6 {
            margin-right: 5px;
        }

        .d-flex > input {
            margin-right: 5px;
        }

      

        #TableChiTietBangKe tfoot {
            background-color: #007bff;
            font-weight: bold;
            color: white;
        }

            #TableChiTietBangKe tfoot th {
                border-top: 2px solid #dee2e6;
                padding: 10px;
            }

        .total-amount {
            font-weight: bold; /* Chữ đậm */
            font-size: 18px; /* Kích thước chữ lớn hơn */
            margin-top: 10px; /* Khoảng cách trên */
        }

        #currency {
            font-weight: bold; /* Chữ đậm */
            font-size: 18px;
        }

        .currency-unit {
            font-style: italic; /* Chữ nghiêng */
            color: #666; /* Màu chữ nhạt */
        }
    </style>
}
