@model Finance_HD.Models.FiaPhieuThuChi

@{
    bool isEdit = Model.Ma != Finance_HD.Helpers.CommonGuids.defaultUID;
    ViewData["Title"] = isEdit ? "Chỉnh sửa" : "Thêm mới";
    string formAction = isEdit ? "Edit" : "Add";
    string defaultUID = Finance_HD.Helpers.CommonGuids.defaultUID.ToString();
}

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <form id="Form">
                <input type="hidden" id="Ma" name="Ma" value="@Model.Ma" />

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="DonViThu">Đơn vị thu <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="DonViThu" name="DonViThu">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="BoPhanThu">Bộ phận thu <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="BoPhanThu" name="BoPhanThu">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="DonViChi">Đơn vị chi <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="DonViChi" name="DonViChi">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="BoPhanChi">Bộ phận chi <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="BoPhanChi" name="BoPhanChi">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="NgayLap">Ngày lập <span style="color: red;">*</span></label>
                        <input class="form-control form-control-sm" type="datetime-local" value="@Model.NgayLapPhieu" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="NguoiThuTien">Người thu tiền <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="NguoiThuTien" name="NguoiThuTien">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="NhanVienNop">Nhân viên nộp <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="NhanVienNop" name="NhanVienNop">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="KhachHangNop">Khách hàng nộp <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="KhachHangNop" name="KhachHangNop">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="BangKe">Bảng kê <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="BangKe" name="BangKe">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="TienTe">Tiền <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="TienTe" name="TienTe">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="TienTe">Tỷ giá <span style="color: red;">*</span></label>
                        <input type="number" step="0.01" class="form-control form-control-sm" id="TyGia" name="TyGia" required
                               value="@(Model.TyGia != null && Model.TyGia != 0 ? Model.TyGia : 1)" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="SoPhieuChi">Số phiếu chi <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="SoPhieuChi" name="SoPhieuChi">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="SoTien">Số tiền <span style="color: red;">*</span></label>
                        <input class="form-control form-control-sm" type="number" placeholder="Nhập số tiền" value="@Model.SoTien" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="HinhThuc">Hình thức <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="HinhThuc" name="HinhThuc">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="SoHoSoKemTheo">Số chứng từ kế toán <span style="color: red;">*</span></label>
                        <input class="form-control form-control-sm" type="text" placeholder="Nhập chứng từ kế toán" value="@Model.SoHoSoKemTheo" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="MaDongTien">Mã dòng tiền <span style="color: red;">*</span></label>
                        <select class="form-control form-control-sm" id="MaDongTien" name="MaDongTien">
                        </select>
                    </div>
                </div>
                <div class="button-container" style="text-align:center">
                    <button type="button" id="btnSave" class="btn btn-primary btn-custom">
                        <i class="fas fa-check"></i> @ViewData["Title"]
                    </button>
                    <button type="button" class="btn btn-danger btn-custom" onclick="window.location.href='/Receipt'">
                        <i class="fas fa-times"></i> Huỷ
                    </button>
                </div>


            </form>
        </div>

    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/extendFE/soquy/phieuthu/form.js"></script>
    <script>
        var defaultUID = '@defaultUID';
        // Pass the isEdit variable to JavaScript
        var isEdit = @Html.Raw(Json.Serialize(isEdit));
        var maChiNhanhChi = '@Model.MaChiNhanhChi';
        var maPhongBanChi = '@Model.MaPhongBanChi'
    </script>
}
